In [1]:
import numpy as np

In [2]:
# The importing convention
import pandas as pd

# The Pandas library

**pandas** is everyone's favorite data analysis library providing fast, flexible, and expressive data structures designed to work with *relational* or table-like data (SQL table or Excel spreadsheet). It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas, **Series** (1-dimensional) and **DataFrame** (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. Pandas is built on top of NumPy and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

<p>Here are just a few of the things that pandas does well:</p>
<blockquote>
<div><ul class="simple">
<li>Easy handling of <strong>missing data</strong> (represented as NaN) in floating point as
well as non-floating point data</li>
<li>Size mutability: columns can be <strong>inserted and deleted</strong> from DataFrame and
higher dimensional objects</li>
<li>Automatic and explicit <strong>data alignment</strong>: objects can be explicitly
aligned to a set of labels, or the user can simply ignore the labels and
let <cite>Series</cite>, <cite>DataFrame</cite>, etc. automatically align the data for you in
computations</li>
<li>Powerful, flexible <strong>group by</strong> functionality to perform
split-apply-combine operations on data sets, for both aggregating and
transforming data</li>
<li>Make it <strong>easy to convert</strong> ragged, differently-indexed data in other
Python and NumPy data structures into DataFrame objects</li>
<li>Intelligent label-based <strong>slicing</strong>, <strong>fancy indexing</strong>, and <strong>subsetting</strong>
of large data sets</li>
<li>Intuitive <strong>merging</strong> and <strong>joining</strong> data sets</li>
<li>Flexible <strong>reshaping</strong> and pivoting of data sets</li>
<li><strong>Hierarchical</strong> labeling of axes (possible to have multiple labels per
tick)</li>
<li>Robust IO tools for loading data from <strong>flat files</strong> (CSV and delimited),
Excel files, databases, and saving / loading data from the ultrafast <strong>HDF5
format</strong></li>
<li><strong>Time series</strong>-specific functionality: date range generation and frequency
conversion, moving window statistics, moving window linear regressions,
date shifting and lagging, etc.</li>
</ul>
</div></blockquote>
<p>Many of these principles are here to address the shortcomings frequently
experienced using other languages / scientific research environments. For data
scientists, working with data is typically divided into multiple stages:
munging and cleaning data, analyzing / modeling it, then organizing the results
of the analysis into a form suitable for plotting or tabular display. pandas
is the ideal tool for all of these tasks.</p>

# Introducing the default of credit card clients dataset

- LIMIT_BAL: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
- SEX: Gender (1 = male; 2 = female). 
- EDUCATION: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
- MARRIAGE: Marital status (1 = married; 2 = single; 3 = others). 
- AGE: Age (year). 
- PAY_0 - PAY_6: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: 0 = the repayment status in September, 2005; 1 = the repayment status in August, 2005; . . .; 6 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
- BILL_AMT1-BILL_AMT6: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
- PAY_AMT1-PAY_AMT6: Amount of previous payment (NT dollar).
- default payment next month

In [3]:
# Data file downloaded from here: https://www.kaggle.com/uciml/default-of-credit-card-clients-dataset
default = pd.read_csv('../data/UCI_Credit_Card.csv', index_col="ID")

In [4]:
default.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

# Frequently used operations and manipulations

In [5]:
# Observations and columns
default.shape

(30000, 24)

In [6]:
# View the columns
default.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [7]:
# Get a Series from the Data Frame
default['LIMIT_BAL'].head()

ID
1     20000.0
2    120000.0
3     90000.0
4     50000.0
5     50000.0
Name: LIMIT_BAL, dtype: float64

In [8]:
# Get many Series from the Data Frame
default[['LIMIT_BAL','AGE','EDUCATION','MARRIAGE']].head()

    LIMIT_BAL  AGE  EDUCATION  MARRIAGE
ID
1     20000.0   24          2         1
2    120000.0   26          2         2
3     90000.0   34          2         2
4     50000.0   37          2         1
5     50000.0   57          2         1

In [9]:
# Get a row from a dataframe using .loc the index-label
default.loc[25]

LIMIT_BAL                     90000.0
SEX                               1.0
EDUCATION                         1.0
MARRIAGE                          2.0
AGE                              23.0
PAY_0                             0.0
PAY_2                             0.0
PAY_3                             0.0
PAY_4                            -1.0
PAY_5                             0.0
PAY_6                             0.0
BILL_AMT1                      4744.0
BILL_AMT2                      7070.0
BILL_AMT3                         0.0
BILL_AMT4                      5398.0
BILL_AMT5                      6360.0
BILL_AMT6                      8292.0
PAY_AMT1                       5757.0
PAY_AMT2                          0.0
PAY_AMT3                       5398.0
PAY_AMT4                       1200.0
PAY_AMT5                       2045.0
PAY_AMT6                       2000.0
default.payment.next.month        0.0
Name: 25, dtype: float64

In [10]:
# Count how many cases in each category
default = default.rename(columns={'default.payment.next.month': 'default_payment_next_month'})
default['default_payment_next_month'].value_counts()

0    23364
1     6636
Name: default_payment_next_month, dtype: int64

In [11]:
# Descriptive Statistics
print("Stats for LIMIT_BAL:")
print("Mean: ", default['LIMIT_BAL'].mean())
print("Standard Deviation: ", default['LIMIT_BAL'].std())

Stats for LIMIT_BAL:
Mean:  167484.322667
Standard Deviation:  129747.661567

In [12]:
## Grouped operations
grouped = default.groupby('default_payment_next_month')
grouped['LIMIT_BAL'].agg(np.mean)

default_payment_next_month
0    178099.726074
1    130109.656420
Name: LIMIT_BAL, dtype: float64

In [13]:
grouped['AGE'].agg([np.mean, np.std])

                                 mean       std
default_payment_next_month
0                           35.417266  9.077355
1                           35.725738  9.693438